/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
	font-size: 16px;
	background-color: rgb(254, 237, 216);
	font-family: 'Space Mono', monospace;
}

/* header styles the title*/
// header {
// 	display: flex;
// 	justify-content: center;
// 	margin-bottom: 50px;
// }

.quiztitle {
	text-align: center;
	margin-bottom: 100px;
	font-size: 40px;
}

/* best not to mess with this class it can edit the styling of the whole page */
section {
	flex-direction: column;
}

/* styles the second heading that reads 'Do you want to play a game?' */
section h2 {
	display: block;
	text-align: center;
}

/* startbutton styles the button on the first page that's labeled Yes!   */
.startbutton {
	display: block;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #444;
	transition: background .5s;
	position: relative;
}

.startbutton:hover {
	background: linear-gradient(#e66465, #9198e5);
}

.starttext {
	margin-bottom: 40px;
}

/* nextbutton styles the next button when switching to another question */
.nextbutton {
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	text-align: center;
	display: block;
	border: 2px solid #444;
}

/* submitanswerbutton styles the Submit Answer button */
.submitanswerbutton {
	border-radius: 8px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #444;
	transition: box-shadow .5s ease-out;
}

.inputselect {
	opacity: 0;
	position: fixed;
	width: 20px;
	text-align: center;
}

.inputselect:checked + label {
	background-color: rgb(108, 237, 151);
}

input[type=radio]:checked + label {
	background-color: rgb(108, 237, 151);
}

.questionform label {
	display: block;
	font-size: 14px;
	background-color: #ddd;
	padding: 15px 10px;
	font-family: sans-serif, Arial;
	border: 2px solid #444;
	border-radius: 4px;
	text-align: center;
	margin-top: 8px;
	transition: background-color .2s;
	cursor: pointer;
}

:checked {
	background-color: #6ced97;
}

.questionform label:hover {
	background-color: rgb(68, 231, 249);
}

.questionform {
	display: flex;
}

/* question styles the question text, questionNumber styles question number text */
.question,
.questionNumber {
	text-align: center;
}

.question {
	font-size: 24px;
	padding: 0 40px;
}

.questionNumber {
	position: relative;
	margin-bottom: 30px;
	font-size: 20px;
	margin-bottom: 40px;
}

/* correctAnswer is used to center the correct response and color it green.*/

.correctAnswer,
.incorrectAnswer {
	text-align: center;
	font-weight: 900;
	font-size: 24px;
}

.correctAnswer {
	color: #00802f;
	// background-color: black;
	// padding: 20px;
	// display: block;
	// text-align: center;
	// margin-left: auto;
	// margin-right: auto;
	// position: static;
	// width: 200px;
}

.incorrectAnswer {
	color: red;
}

/* correctScore is used to center the the score number. */
.correctScore,
.incorrectScore {
	text-align: center;
	top: -10px;
	right: 10px;
	position: absolute;
	border: 2px solid black;
	padding: 10px;
}

fieldset {
	border: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	cursor: pointer;
	transition: box-shadow .5s ease-out, transform .5s ease-out;
}

button:hover {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.finalscore {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 32px;
	margin-bottom: 80px;
}

.gameover {
	font-size: 48px;
	margin-bottom: 60px;
}

// @media (min-width: 580px) {
// }
